

.Boxgeneral
	padding 0.1em
	display flex
	margin 0.1em
	
		
	&-order
		text-align center
		width 90px
		font-size 0.9em
		padding 0
		margin 0
		color rgba(4, 4, 27, 0.97)
		margin 0 0 0 0.5em
		
	&-delivery
		text-align center
		width 90px
		font-size 0.9em
		padding 0
		margin 0 0 0 0.5em
		color rgba(4, 4, 27, 0.97)
		
	&-fulfillment
		text-align center
		width 90px
		font-size 0.9em
		padding 0
		margin 0 0 0 0.5em
		color rgba(4, 4, 27, 0.97)
			
		
		 

		
