.test{background-color: yellow;}

.Boxgeneral
	padding 0.1em
	display flex
	margin 0.1em
	
	&-id	
		font-size 1em
		justify-content space-between
		width 85px
		color aqua
		text-align center
		margin 0 0 0 0.5em
	&-description	
		justify-content space-between
		position center
		width 210px
		color aqua
		text-align center
		margin 0 0 0 0.5em
	&-order
		text-align center
		width 80px
		font-size 0.8em
		padding 0
		margin 0
		color white
		margin 0 0 0 0.5em
		
	&-delivery
		text-align center
		width 80px
		font-size 0.8em
		padding 0
		margin 0 0 0 0.5em
		color white
	&-fulfillment
		text-align center
		width 80px
		font-size 0.8em
		padding 0
		margin 0 0 0 0.5em
		color white	
		
		 

		
