section(class = "Principalgeneral")
	section(class = "Principalbox")
		table(class ="Box")
			tr
				th(class="Box-id") 
					div
				th(class="Box-description")
					div 
				th 
					div(class="Boxgeneral-order") Pedido
				th
					div(class="Boxgeneral-delivery") Entrega
				th
					div(class="Boxgeneral-fulfillment") Cumplimiento
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div A
				th 
					input(type="text" id="Bogota_Order_A1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_A2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_A3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div B
				th 
					input(type="text" id="Bogota_Order_B1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_B2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_B3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div C
				th 
					input(type="text" id="Bogota_Order_C1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_C2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_C3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div D
				th 
					input(type="text" id="Bogota_Order_D1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_D2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_D3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div E
				th 
					input(type="text" id="Bogota_Order_E1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_E2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_E3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div F
				th 
					input(type="text" id="Bogota_Order_F1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_F2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_F3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div G
				th 
					input(type="text" id="Bogota_Order_G1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_G2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_G3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div H
				th 
					input(type="text" id="Bogota_Order_H1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_H2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_H3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div I
				th 
					input(type="text" id="Bogota_Order_I1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_I2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_I3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div J
				th 
					input(type="text" id="Bogota_Order_J1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_J2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_J3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div K
				th 
					input(type="text" id="Bogota_Order_K1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_K2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_K3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div L
				th 
					input(type="text" id="Bogota_Order_L1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_L2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_L3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div M
				th 
					input(type="text" id="Bogota_Order_M1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_M2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_M3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div N
				th 
					input(type="text" id="Bogota_Order_N1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_N2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_N3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div O
				th 
					input(type="text" id="Bogota_Order_O1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_O2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_O3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div P
				th 
					input(type="text" id="Bogota_Order_P1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_P2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_P3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div Q
				th 
					input(type="text" id="Bogota_Order_Q1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_Q2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_Q3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div R
				th 
					input(type="text" id="Bogota_Order_R1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_R2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_R3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div S
				th 
					input(type="text" id="Bogota_Order_S1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_S2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_S3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div T
				th 
					input(type="text" id="Bogota_Order_T1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_T2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_T3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div U
				th 
					input(type="text" id="Bogota_Order_U1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_U2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_U3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div V
				th 
					input(type="text" id="Bogota_Order_V1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_V2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_V3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div W
				th 
					input(type="text" id="Bogota_Order_W1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_W2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_W3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div X
				th 
					input(type="text" id="Bogota_Order_X1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_X2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_X3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div Y
				th 
					input(type="text" id="Bogota_Order_Y1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_Y2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_Y3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 1100101
				th(class="Box-description")
					div Z
				th 
					input(type="text" id="Bogota_Order_Z1" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_Z2" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_Z3" value="" class="Box-fulfillment" style="text-align:center")
			tr
				th(class="Box-id") 
					div 
				th(class="Box-description")
					div 
				th 
					input(type="text" id="Bogota_Order_total" value="" class="Box-order" style="text-align:center")
				th
					input(type="text" id="Bogota_Delivery_total" value="" class="Box-delivery" style="text-align:center")
				th
					input(type="text" id="Bogota_Fulfillment_total" value="" class="Box-fulfillment" style="text-align:center")

