section(class = "Principalgeneral")
				section(class ="Boxgeneral")
					div(class="Boxgeneral-id") 
					div(class="Boxgeneral-description")
					div(class="Boxgeneral-order") Pedido
					div(class="Boxgeneral-delivery") Entregado
					div(class="Boxgeneral-fulfillment") Cumplimiento
			section(class = "Principalbox")