@import "nib"


body
	font-family Arial
	font-size 16px
	margin 0
.Box
	padding 0.1em
	display flex
	margin 0.1em
	&-id	
		font-size 1em
		justify-content space-between
		width 5.2em
		color aqua
		margin 0 0 0 0.5em
	&-description	
		font-size 1em
		justify-content space-between
		width 20em
		color aqua
		margin 0 0 0 0.5em
	&-real
		justify-content space-between	
		width 80px
		color white
		background rgba(0, 255, 255, 0.27)
		border 0.1em solid aqua
		box-shadow 0 0 10px rgba(black, 0.5)
		border-radius 0.5em
		margin 0 0 0 0.9em
	&-expected
		justify-content space-between	
		width 80px
		color white
		background rgba(0, 255, 255, 0.27)
		border 0.1em solid aqua 
		box-shadow 0 0 10px rgba(black, 0.5)	
		border-radius 0.5em
		margin 0 0 0 0.5em
	&-total
		justify-content space-between	
		width 26.5em
		color white
		text-align right
	&-totalreal
		justify-content space-between	
		width 80px
		color white
		background rgba(0, 255, 255, 0.27)
		border 0.1em solid yellow 
		box-shadow 0 0 10px rgba(black, 0.5)	
		border-radius 0.5em
		margin 0 0 0 0.5em
	&-totalexpected
		justify-content space-between	
		width 80px
		color white
		background rgba(0, 255, 255, 0.27)
		border 0.1em solid yellow
		box-shadow 0 0 10px rgba(black, 0.5)	
		border-radius 0.5em
		margin 0 0 0 0.5em
				
		
.Boxgeneral
	padding 0.1em
	display flex
	margin 0.1em
	
	&-id	
		font-size 1em
		justify-content space-between
		border 0.1em solid aqua
		width 5.2em
		color aqua
		text-align center
		margin 0 0 0 0.5em
	&-description	
		justify-content space-between
		border 0.1em solid aqua
		position center
		width 20em
		color aqua
		text-align center
		margin 0 0 0 0.5em
	&-real
		text-align center
		border 0.1em solid aqua
		width 80px
		font-size 1em
		padding 0
		margin 0
		color aqua
		margin 0 0 0 0.5em
	&-expected
		text-align center
		border 0.1em solid aqua
		width 80px
		font-size 1em
		padding 0
		margin 0 0 0 0.5em
		color aqua
		

.General
	display flex
	background rgba(13, 12, 25, 0.97)
	min-height 100vh
			