@import "nib"
@import "./box-general/styles.styl"
@import "./box/styles.styl"

body
	font-family Arial
	font-size 16px
	margin 0
				
		
		

.General
	display flex
	align-items flex-start
	background rgba(4, 4, 27, 0.97)
	min-height 100vh
	justify-content space-around
		
.Layout
	margin 1 1 0 0
	border 0.15em solid rgba(127, 127, 185, 1)
	box-shadow 0 0 10px rgba(220, 214, 214, 0.5)
	border-radius 0.5em		
.Titlegeneral
	background rgba(4, 4, 27, 0.97)
	text-align center
	color white
	padding 0
	margin 0			

	
	
	
		

	
		