@import "nib"


body
	font-family Arial
	font-size 16px
	margin 0
.Box
	padding 0.1em
	display flex
	margin 0.1em
	&-id	
		font-size 0.8em
		justify-content space-between
		width 85px
		color white
		margin 0 0 0 0.5em
		text-align center
	&-description	
		font-size 0.8em
		justify-content space-between
		width 320px
		color white
		margin 0 0 0 0.5em
	&-real
		justify-content space-between	
		width 80px
		color white
		background rgba(71, 133, 197, 0.22)
		border 0.1em solid rgba(71, 133, 197, 0.22)
		box-shadow 0 0 10px rgba(60, 55, 138, 0.5)
		border-radius 0.5em
		margin 0 0 0 0.9em
	&-expected
		justify-content space-between	
		width 80px
		color white
		background rgba(71, 133, 197, 0.22)
		border 0.1em solid rgba(60, 55, 138, 0.5) 
		box-shadow 0 0 10px rgba(60, 55, 138, 0.5)	
		border-radius 0.5em
		margin 0 0 0 0.5em
	&-variation
		justify-content space-between	
		width 80px
		color white
		background rgba(71, 133, 197, 0.22)
		border 0.1em solid rgba(60, 55, 138, 0.5) 
		box-shadow 0 0 10px rgba(60, 55, 138, 0.5)	
		border-radius 0.5em
		margin 0 0 0 0.5em	
	&-total
		justify-content space-between	
		width 423px
		color white
		text-align right
	&-totalreal
		justify-content space-between	
		width 80px
		color white
		background rgba(239, 255, 0, 0.22)
		border 0.1em solid rgba(239, 255, 0, 0.22) 
		box-shadow 0 0 10px rgba(black, 0.5)	
		border-radius 0.5em
		margin 0 0 0 0.5em
	&-totalexpected
		justify-content space-between	
		width 80px
		color white
		background rgba(63, 255, 0, 0.32)
		border 0.1em solid rgba(63, 255, 0, 0.32)
		box-shadow 0 0 10px rgba(black, 0.5)	
		border-radius 0.5em
		margin 0 0 0 0.5em
				
		
.Boxgeneral
	padding 0.1em
	display flex
	margin 0.1em
	
	&-id	
		font-size 1em
		justify-content space-between
		width 85px
		color aqua
		text-align center
		margin 0 0 0 0.5em
	&-description	
		justify-content space-between
		position center
		width 320px
		color aqua
		text-align center
		margin 0 0 0 0.5em
	&-real
		text-align center
		width 80px
		font-size 0.8em
		padding 0
		margin 0
		color white
		margin 0 0 0 0.5em
	&-expected
		text-align center
		width 80px
		font-size 0.8em
		padding 0
		margin 0 0 0 0.5em
		color white
	&-variation
		text-align center
		width 80px
		font-size 0.8em
		padding 0
		margin 0 0 0 0.5em
		color white	
		

.General
	display flex
	background rgba(4, 4, 27, 0.97)
	min-height 100vh
.layout
	margin 1 1 0 0
	border 0.15em solid rgba(127, 127, 185, 1)
	box-shadow 0 0 10px rgba(220, 214, 214, 0.5)
	border-radius 0.5em		
.Titlegeneral
	background rgba(4, 4, 27, 0.97)
	text-align center
	color white
	padding 0
	margin 0			