doctype html
html(lang ="es")
head
	meta(charset="uft-8")
	title Real vs Esperado
	link(rel="stylesheet", href="./public/css/app.css")
body
	div(class="General")
		div(class="layout")
			section(class = "Principalgeneral")
				section(class ="Boxgeneral")
					div(class="Boxgeneral-id") Codigo
					div(class="Boxgeneral-description") Detalle
					div(class="Boxgeneral-real") Real
					div(class="Boxgeneral-expected") Esperado
			section(class = "Principalbox")
				include ./box/template.jade																										
			
