doctype html
html(lang ="es")
head
	meta(charset="uft-8")
	title Real vs Esperado
	link(rel="stylesheet", href="./public/css/app.css")
body
	section(class = "Principalgeneral")
		section(class ="Boxgeneral")
			div(class="Boxgeneral-id") CODIGO
			div(class="Boxgeneral-description") DETALLE
			div(class="Boxgeneral-real") REAL
			div(class="Boxgeneral-expected") ESPERADO
	section(class = "Principalbox")
		each card in [1,2,3,4,5]
			include ./box/template.jade
					