doctype html
html(lang ="es")
	head
		meta(charset="uft-8")
		title Real vs Esperado
		script(type="application/javascript", src="./public/js/javascript.js")
		link(rel="stylesheet", href="./public/css/app.css")
		script(type="application/javascript", src="./public/js/jquery.js")
		script(type="application/javascript", src="./public/js/java.js")
		style .test{background-color: red; width: 90px;justify-content: space-between; color: white;border: 0.1em solid rgba(127, 127, 185, 1);box-shadow: 0 0 10px rgba(72, 73, 78, 0.5);margin: 0 0 0 0.5em;border-radius: 0.5em;}	

	body
		input(type="button" id="button" value="ACEPTAR")
		div(class="accordion1")
			div(class="Cumplimiento")
				div(class="Cumplimiento-id") Cumplimiento
				input(type="text" id="Fulfillment_total" value="" class="Box-fulfillment" style="text-align:center")

			div(class="open")
				div(class="accordion")
					div(class="Cumplimiento")
						div(class="Cumplimiento-id") Bogota
						input(type="text" id="Fulfillment_Bogota" value="" class="Box-fulfillment" style="text-align:center")
					div(class="Layout")
						include ./box-general/template.jade
					
						section(class = "Principalbox")
									
							include ./box/template.jade
							include ./dis-bogota/template.jade

				div(class="accordion")
					div(class="Cumplimiento")
						div(class="Cumplimiento-id") Villavicencio
						input(type="text" id="Fulfillment_vcio" value="" class="Box-fulfillment" style="text-align:center")
					div(class="Layout")
						include ./box-general/template.jade		
						include ./box/template.jade

									

				
			
			
				
		

		script.
			inicio();
	