doctype html
html(lang ="es")
head
	meta(charset="uft-8")
	title Real vs Esperado
	script(type="application/javascript", src="./public/js/template.js")
	link(rel="stylesheet", href="./public/css/app.css")

body
	h2(class="Titlegeneral") Peso Real vs Peso Esperado
	div(class="General")
		div(class="Layout")
			section(class = "Principalgeneral")
				section(class ="Boxgeneral")
					div(class="Boxgeneral-id") 
					div(class="Boxgeneral-description")
					div(class="Boxgeneral-real") Real
					div(class="Boxgeneral-expected") Esperado
					div(class="Boxgeneral-variation") Variación
			section(class = "Principalbox")
				include ./box/template.jade																										
		div(class="Info")
			div(class="Button")
				input(type="button" id="Buttongraphic" value="Graficar" class="Button-graphic")
			div(class="Boxgraphic")
				canvas(width="650" height="500" id="graphic" class="Boxgraphic-canvas")
				script(type="text/javascript").
					inicio();
						

		



