doctype html
html(lang ="es")
head
	meta(charset="uft-8")
	title Real vs Esperado
	script(type="application/javascript", src="./public/js/template.js")
	link(rel="stylesheet", href="./public/css/app.css")

body
	input(type="button" id="button" value="ACEPTAR")
	h2(class="Titlegeneral") Bogota
	div(class="General")
		div(class="Layout")
			include ./box-general/template.jade		
			include ./box/template.jade
		

				

			
						

		



