section(class = "Principalbox")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.100 TIPO A
		input(type="text" id="Order_1100A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1100A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1100A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.100 TIPO B
		input(type="text" id="Order_1100B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1100A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1100B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.200 TIPO A
		input(type="text" id="Order_1200A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1200A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1200A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.200 TIPO B
		input(type="text" id="Order_1200B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1200B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1200B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.300 TIPO A
		input(type="text" id="Order_1300A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1300A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Variation1300A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.300 TIPO B
		input(type="text" id="Order_1300B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1300B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1300B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.400 TIPO A
		input(type="text" id="Order_1400A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1400A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1400A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.400 TIPO B
		input(type="text" id="Real1400B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1400B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1400B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.500 TIPO A
		input(type="text" id="Order_1500A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1500A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1500A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.500 TIPO B
		input(type="text" id="Order_1500B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1500B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1500B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.600 TIPO A
		input(type="text" id="Order_1600A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1600A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1600A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo  S/M 1.600 TIPO B
		input(type="text" id="Order_1600B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1600B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1600B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.700 TIPO A
		input(type="text" id="Order_1700A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1700A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1700A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.700 TIPO B
		input(type="text" id="Order_1700B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1700B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1700B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.800 TIPO A
		input(type="text" id="Order_1800A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1800A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1800A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.800 TIPO B
		input(type="text" id="Order_1800B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1800B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1800B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.900 TIPO A
		input(type="text" id="Order_1900A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1900A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1900A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 1.900 TIPO B
		input(type="text" id="Order_1900B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_1900B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_1900B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 2.000 TIPO A
		input(type="text" id="Order_2000A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_2000A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_2000A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 2.000 TIPO B
		input(type="text" id="Order_l2000B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_2000B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_2000B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 2.100 TIPO A
		input(type="text" id="Order_2100A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_2100A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_2100A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 2.100 TIPO B
		input(type="text" id="Order_2100B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_2100B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_2100B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 2.200 TIPO A
		input(type="text" id="Order_2200A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_2200A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_2200A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 2.200 TIPO B
		input(type="text" id="Order_2200B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_2200B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_2200B" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 2.300 TIPO A
		input(type="text" id="Order_2300A" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_2300A" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_2300A" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Pollo S/M 2.300 TIPO B
		input(type="text" id="Order_2300B" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_2300B" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_2300B" value="" class="Box-fulfillment" style="text-align:center")
