section(class = "Principalbox")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") A
		input(type="text" id="Order-A1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-A2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-A3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") B
		input(type="text" id="Order-B1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-B2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-B3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") C
		input(type="text" id="Order-C1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-C2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-C3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") D
		input(type="text" id="Order-D1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-D2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-D3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") E
		input(type="text" id="Order-E1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-E2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Variation-E3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") F
		input(type="text" id="Order-F1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-F2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-F3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") G
		input(type="text" id="Order-G1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-G2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-G3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") H
		input(type="text" id="Real-H1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-H2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-H3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") I
		input(type="text" id="Order-I1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-I2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-I3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") J
		input(type="text" id="Order_J1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery_J2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment_J3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") K
		input(type="text" id="Order-K1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-K2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-K3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") L
		input(type="text" id="Order-L1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-L2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-L3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") M
		input(type="text" id="Order-M1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-M2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-M3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") N
		input(type="text" id="Order-N1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-N2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-N3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") O
		input(type="text" id="Order-O1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-O2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-O3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") P
		input(type="text" id="Order-P1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-P2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-P3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Q
		input(type="text" id="Order-Q1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-Q2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-Q3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") R
		input(type="text" id="Order-R1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-R2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-R3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") S
		input(type="text" id="Order-S1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-S2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-S3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") T
		input(type="text" id="Order-T1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-T2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-T3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") U
		input(type="text" id="Order-U1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-U2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-U3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") V
		input(type="text" id="Order-V1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-V2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-V3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") W
		input(type="text" id="Order-W1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-W2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-W3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") X
		input(type="text" id="Order-X1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-X2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-X3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Y
		input(type="text" id="Order-Y1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-Y2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-Y3" value="" class="Box-fulfillment" style="text-align:center")
	section(class ="Box")
		div(class="Box-id") 1100101
		div(class="Box-description") Z
		input(type="text" id="Order-Z1" value="" class="Box-order" style="text-align:center")
		input(type="text" id="Delivery-Z2" value="" class="Box-delivery" style="text-align:center")
		input(type="text" id="Fulfillment-Z3" value="" class="Box-fulfillment" style="text-align:center")
