section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.100 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.100 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.200 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.200 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.300 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.300 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.400 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.400 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.500 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.500 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.600 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo  S/M 1.600 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.700 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.700 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.800 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.800 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.900 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.900 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.000 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.000 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.100 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.100 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.200 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.200 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.300 TIPO A
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.300 TIPO B
	input(type="text" value="" class="Box-real")
	input(type="text" value="" class="Box-expected")
