section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.100 TIPO A
	input(type="text" id="Real1100A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1100A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1100A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.100 TIPO B
	input(type="text" id="Real1100B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1100A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1100B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.200 TIPO A
	input(type="text" id="Real1200A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1200A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1200A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.200 TIPO B
	input(type="text" id="Real1200B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1200B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1200B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.300 TIPO A
	input(type="text" id="Real1300A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1300A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1300A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.300 TIPO B
	input(type="text" id="Real1300B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1300B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1300B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.400 TIPO A
	input(type="text" id="Real1400A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1400A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1400A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.400 TIPO B
	input(type="text" id="Real1400B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1400B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1400B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.500 TIPO A
	input(type="text" id="Real1500A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1500A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1500A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.500 TIPO B
	input(type="text" id="Real1500B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1500B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1500B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.600 TIPO A
	input(type="text" id="Real1600A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1600A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1600A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo  S/M 1.600 TIPO B
	input(type="text" id="Real1600B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1600B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1600B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.700 TIPO A
	input(type="text" id="Real1700A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1700A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1700A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.700 TIPO B
	input(type="text" id="Real1700B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1700B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1700B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.800 TIPO A
	input(type="text" id="Real1800A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1800A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1800A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.800 TIPO B
	input(type="text" id="Real1800B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1800B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1800B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.900 TIPO A
	input(type="text" id="Real1900A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1900A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1900A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 1.900 TIPO B
	input(type="text" id="Real1900B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected1900B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation1900B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.000 TIPO A
	input(type="text" id="Real2000A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected2000A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation2000A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.000 TIPO B
	input(type="text" id="Real2000B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected2000B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation2000B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.100 TIPO A
	input(type="text" id="Real2100A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected2100A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation2100A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.100 TIPO B
	input(type="text" id="Real2100B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected2100B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation2100B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.200 TIPO A
	input(type="text" id="Real2200A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected2200A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation2200A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.200 TIPO B
	input(type="text" id="Real2200B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected2200B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation2200B" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.300 TIPO A
	input(type="text" id="Real2300A" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected2300A" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation2300A" value="" class="Box-variation" style="text-align:center")
section(class ="Box")
	div(class="Box-id") 1100101
	div(class="Box-description") Pollo S/M 2.300 TIPO B
	input(type="text" id="Real2300B" value="" class="Box-real" style="text-align:center")
	input(type="text" id="Expected2300B" value="" class="Box-expected" style="text-align:center")
	input(type="text" id="Variation2300B" value="" class="Box-variation" style="text-align:center")
